@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root {
  --miz-brand: #ff3825;
  --miz-grand-rgb: 284, 54, 145;
  --miz-dark: #212237;
  --miz-body: #989898;
  -transition: all .6s cubic-berzier(.165, .84, .44, 1);
  -shadow: 0px, 15px, 30px, rgba(0,0,0,0 1);
}


body {
 font-family: var(--f-main);
 color: var(--miz-body);
 line-height: 1,8;
}

h1, .h1 h2, .h2 h3, .h3 h4, .h4 h5, .h5 h6, .h6{
  font-weight: 700;
  color: var(--miz-dark);
  font-family: var(--f-main);
}

.text-brand {
  color: var(--miz-brand);
}

.navbar {
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn-brand {
  background-color: var(--miz-brand);
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  max-width: 550px;
  margin: 0 auto 60px auto;
}

.section-title .line {
  width: 60px;
  height: 2px;
  background-color: var(--miz-brand);
  display: inline-block;
}



.about-icon {
  width: 60px;
  height: 60px;
  background-color: var(--rf-brand);
  color: #ff3825;
  font-size: 27px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

nav{
  background-color: #ff3825;
}

.project{
  overflow: hidden;
  position: relative;
  
}

.project .content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ff3825;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project img,
.project .content {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.project:hover .content {
   top: 0;
}

.project:hover img {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

.img1 {
  width: 350px;
}

.margin-section {
  margin-top: 100px;
}

